.first {
  position: relative;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.first > div {
  position: absolute;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  align-items: center;
  color: wheat;
}
.second {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 0 auto;
  background-color: aliceblue;
}
.second > .pargr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
  font-size: 30px;
}
.second > .pargr2 {
  display: flex;
  color: gray;
  font-size: 30px;
}
