.container {
  display: flex;
  flex-direction: column;
}

.container > div {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
  position: relative;
  left: 20px;
  top: 20px;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
  position: absolute;
  left: 20px;
  top: 20px;
}
