.trip {
  display: flex;
  gap: 10px;
}
.place {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.place {
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

.place > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
