/* css파일 style 담당일찐 
대상{
    style에 넣었던 문법들 넣으면됨
} */

h1{
    color:pink;
    font-family: fantasy;
}

button{
    color:aqua;
    font-size: 20px;
}

a{
    color:salmon;
    font-family: fantasy;
}