.home{
    border: 1px solid white;
    display: flex;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px
}

p{
    color: blue;
    font-size: 10px;
}

.downloads{
    display: flex;
    gap:10px;
}


.button1{
    border: 1px solid gray;
    display: flex;
    width: 150px;
}

.appleIcon{
    border: 1px solid white;
    flex:1;
    font-size: 40px;
}
.applePA{
    border: 1px solid white;
    flex:3;
}

.button2{
    border: 1px solid gray;
    display: flex;
    width: 150px;
}

.googleIcon{
    border: 1px solid white;
    flex:1;
    font-size: 40px;
}
.googlePA{
    border: 1px solid white;
    flex:3;
}
