header {
  display: flex;
  width: 100vw;
  height: 20vh;
  top: 30px;
}

nav {
  display: flex;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logoBox {
  display: flex;
}
.linkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.linkBox > span {
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.linkBox > span:hover {
  background-color: aqua;
  color: white;
  background: rgb(0, 36, 6);
  background: linear-gradient(
    209deg,
    rgba(0, 36, 6, 1) 0%,
    rgba(0, 255, 218, 1) 100%
  );
}

.info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
}
.online {
  color: aqua;
}
.button {
  border: 1px solid aqua;
  border-radius: 30px;
}
.button:hover {
  background-color: white;

  cursor: pointer;
}

.model {
  width: 100vw;
  height: 80vh;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
}
