.container {
  display: flex;
}

.r {
  background-color: red;
  width: 300px;
  height: 300px;
}
.o {
  background-color: green;
  width: 300px;
  height: 300px;
}
.g {
  background-color: blue;
  width: 300px;
  height: 300px;
}

/* 반응형 */
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
